<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<ul>
    <li><span th:text="${user.getEmail()}"></span></li>
    <li><span th:text="${user.getTel()}"></span></li>
    <li><span th:text="${user.getUsername()}"></span></li>
<!--    <li><span th:text="${user.getAddr()}"></span></li>-->
<!--    <li><span th:text="${user.getAddr()}"></span></li>-->
    <li><span th:text="${user.getRoles()}"></span></li>
</ul>
</body>
</html>