<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script type="text/javascript" src="JS/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="Js/chat.js"></script>
    <link type="text/css" rel="stylesheet" href="CSS/chat.css">
</head>
<body>
<h1 align="center">聊天室</h1>
<!--<div id="username"><h3 style="text-align: center;">用户：张三<span>-在线</span></h3></div>-->
<div id="username"></div>
<div id="Inchat"></div>
<div id = "chatBody">
    <div id="chatMain" >
        <!--聊天展示区域-->
        <div id="chatCnt">
        </div>
        <div id="chatArea" >
            <textarea id="tex_content" placeholder="请输入文字！"></textarea>
            <input id="submit" type="button" value="发送"  >
        </div>
    </div>



    <div id="lists" >
        <!--好友列表-->
        <div >
            <ul style="background-color: darkgrey">好友列表(请点击好友聊天)</ul>
            <div id="friendLis">
<!--            <ul style="background-color: darkgrey">好友列表(请点击好友聊天)</ul>-->
            <ul id="friendsList">
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
<!--                <li><a onclick='chatWith("LiLi")'>LiLi</a></li>-->
            </ul>
        </div>
        </div>
        <hr>
        <!--系统消息区-->
        <div>
            <ul style="background-color: darkgrey">系统通知</ul>
            <div id="sysLis">
            <ul id="systemMsg">
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
<!--                <li>Lili在线</li>-->
            </ul>
        </div>
        </div>
    </div>

</div>
</body>
<script >
    var toName;
    var username;
    //点击好友名称展示相关消息
    function showChat(name){
        toName = name;
        //现在聊天框
        $("#content").html("");
        // $("#content").css("visibility","visible");
        $("#Inchat").html("当前正与"+toName+"聊天");
        //从sessionStorage中获取历史信息
        var chatData = sessionStorage.getItem(toName);
        if (chatData != null){
            $("#content").html(chatData);
        }
    }

    $(function () {
        $.ajax({
            url:"/getUsername",
            success:function (res) {
                username = res;
            },
            async:false //同步请求，只有上面好了才会接着下面
        });
        //建立websocket连接
        //获取host解决后端获取httpsession的空指针异常
        var host = window.location.host;
        var ws = new WebSocket("ws://"+host+"/chat");
        ws.onopen = function (evt) {
            $("#username").html("<h3 style=\"text-align: center;\">用户："+ username +"<span>-在线</span></h3>");
        }
        //接受消息
        ws.onmessage = function (evt) {

            //获取服务端推送的消息
            var dataStr = evt.data;
            //将dataStr转换为json对象
            var res = JSON.parse(dataStr);
            //判断是否是系统消息
            if(res.system){
                //系统消息
                //1.好友列表展示
                //2.系统广播的展示
                //此处声明的变量是调试时命名的，可以直接合并
                var names = res.massage;
                var userlistStr = "";
                var broadcastListStr = "";
                var temp01 = "<li><a style=\"text-align: center\"; onclick='showChat(\"";
                var temp03 = "\")'>";
                var temp04 = "</a></li></br>";
                var temp = "";
                for (var name of names){
                    if (name != username){
                        temp = temp01 + name + temp03 + name + temp04;
                        userlistStr = userlistStr + temp;
                        broadcastListStr += "<li>"+ name +"上线了</li>";
                    }
                }
                //渲染好友列表和系统广播
                $("#friendsList").html(userlistStr);
                $("#systemMsg").html(broadcastListStr);

            }else {
                //不是系统消息
                var str = "<span id='mes_left'>"+ res.massage +"</span></br>";
                if (toName === res.fromName) {
                    $("#chatCnt").append(str);
                }
                var chatData = sessionStorage.getItem(res.fromName);
                if (chatData != null){
                    str = chatData + str;
                }
                //保存聊天消息
                sessionStorage.setItem(res.fromName,str);
            };
        }
        ws.onclose = function () {
            $("#username").html("<h3 style=\"text-align: center;\">用户："+ username +"<span>-离线</span></h3>");
        }

        //发送消息
        $("#submit").click(function () {
            //1.获取输入的内容
            var data = username+" :"+$("#tex_content").val();
            //2.清空发送框
            $("#tex_content").val("");
            var json = {"toName": toName ,"message": data};
            //将数据展示在聊天区
            var str = "<span id='mes_right'>"+ data +"</span></br>";
            $("#chatCnt").append(str);

            var chatData = sessionStorage.getItem(toName);
            if (chatData != null){
                str = chatData + str;
            }
            sessionStorage.setItem(toName,str);
            //3.发送数据
            ws.send(JSON.stringify(json));
        })
    })


</script>
</html>