<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>item-show</title>
    <link rel="stylesheet" type="text/css" href="CSS/头部和底部.css">
    <link rel="stylesheet" type="text/css" href="CSS/item-show.css">
    <link rel="stylesheet" type="text/css" href="CSS/layui.css">
    <script type="text/javascript" src="JS/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="JS/layui.js"></script>
</head>
<body>
        <!--头部区域-->  
        <div id="header">
            <div class="header">
                <div class="header-left">
                    <a href="#"><img src="image/1.jpg" alt="图片加载错误"></a>
                </div>
                <div class="header-bottom1">
                    <ul class="nav">
                        <li><a href="/index0">首页</a></li>
                        <li>
                            <a href="#">我要创业</a>
                            <div class="down">
                                <div class="list">
                                    <a href="/publish">发布项目</a>
                                </div>
                                <div class="list">
                                    <a href="/searchIterm">寻找项目</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="/searchResume">寻找道友</a></li>
                        <li><a href="/personal">项目管理</a></li>
                        <li><a href="#">创业资讯</a></li>
                        <li><a href="#">论坛</a></li>
                    </ul>
                </div>
                <div class="header-bottom2">
                    <form action="" method="" class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input id="search" type="search" name="search" class="layui-input" placeholder="请输入关键字">
                            </div>         
                            <button id="btn-search" type="button" class="layui-btn layui-btn-primary layui-btn-radius">
                                <i class="layui-icon layui-icon-search" style="font-size: 23px; "></i>        
                            </button>               
                        </div>
                    </form>
                </div>
                <div class="header-right">
                    <div class="header-right-l">
                        <img th:src="${user.getPicWay()}" class="layui-circle" width="50px">
                    </div>
                    <div class="header-right-r">
                        <!-- 在没有登入状态下的显示 -->
                        <!-- <ul class="load">
                            <li><a href="#">登录</a></li>
                            <li id="separator">&#124</li>
                            <li><a href="#">注册</a></li>
                        </ul> -->
                        <ul class="load">
                            <li><a href="/personal">个人中心</a></li>
                            <li id="separator">&#124</li>
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--项目展示-->
        <div id="section">
            <div class="section">
                <div class="layui-panel" id="panel1">
                    <div class="title">
                       <h2 th:text="${iterm.getItermName()}"></h2><!-- 互联网线下广告发布项目-->
                    </div>
                                        <div class="type">
                                            <p><span th:text="${iterm.getType()}"></span></p>
                                        </div>
<!--                    <div class="type">-->
<!--                        <p><span>互联网</span><span>云服务</span></p>-->
<!--                    </div>-->
                    <div class="location">
                        <i th:text="${iterm.getItermAddr()}" class="layui-icon layui-icon-location"></i>
                    </div>
                    <div th:if="${user1.getUserId()!=user.getUserId()&&iterm2.getStatus()==0}" class="button">
                        <form method="post" action="/deliver">
                            <input type="hidden" name="itermId" th:value="${iterm.getItermId()}">
                            <input type="hidden" name="userId" th:value="${user1.getUserId()}">
                        <button type="submit" class="layui-btn layui-btn-normal">投递简历</button>
                        </form>
                    </div>
                    <div th:if="${user1.getUserId()!=user.getUserId()&&iterm2.getStatus()==2}" class="button">
                            <label class="layui-btn layui-btn-normal" >审核中...</label>
                    </div>
                    <div th:if="${iterm2.getStatus()==1||user1.getUserId()==user.getUserId()}" class="button">
                        <label class="layui-btn layui-btn-normal" >已参与</label>
                    </div>
                    <div th:if="${iterm2.getStatus()==-1&&user1.getUserId()!=user.getUserId()}" class="button">
                        <label class="layui-btn layui-btn-normal" >已拒绝</label>
                    </div>
                </div>
                <div class="layui-panel" id="panel2">
                    <div class="title">
                        <h1>关于招聘</h1>
                    </div>
                    <div class="schedule">
                        <p>项目进度：<span th:text="${iterm.getStatusshow()}"></span></p>
                    </div>
                    <div class="time">
                        <p>开始时间：<span th:text="${iterm.getYYMMdd()}"></span></p>
                    </div>
                    <div class="number">
                        <p>成员数量：<span th:text="${iterm.getMemberNum()}"></span>人</p>
                    </div>
                    <div class="budget">
                        <p>项目预算：<span th:text="${iterm.getBudget()}"></span></p>
                    </div>
                    <div class="technology">
                        <p>技术要求：<span th:text="${iterm.getTechnical()}"></span></p>
<!--                        互联网<span>虚拟化</span><span>Python</span>-->
                    </div>
                </div>
                <div class="layui-panel" id="panel3">
                    <div class="title1">
                        <h1>项目详情</h1>
                    </div>
                    <div class="title2">
                        <h2>项目介绍</h2>
                    </div>
                    <div class="introduce">
                        <p>需要管理员授权才能查看</p>
<!--                        <p>项目主要聚焦的是以弘扬传统文化，打造粉丝经济平台。</p>-->
<!--                        <p>-->
<!--                            表现形式围绕美文，短视频，图片，直播，百科以及好-->
<!--                            物的形式，平台上主要呈现的内容是汉服，琴棋书画，手-->
<!--                            工艺，传统国粹。-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            平台模块主要有：抖音元素（短视频、直播），微博微信-->
<!--                            元素（图文），咸鱼元素（美文），电商元素（好物）。-->
<!--                            目前市面上同类产品有汉服网，十三余，但是它们的短板-->
<!--                            都很明显，元素单一。我们这个项目是聚焦所有传统文化-->
<!--                            中国风的东西，以社交，娱乐，互动的形式打造一个闭环-->
<!--                            的生态圈。-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            核心竞争力：一、优质内容，上面呈现的都是美感的东西-->
<!--                            ，来源于创作者和遗传文化，文化是自带生命力的存在，-->
<!--                            以娱乐的方式让人们所喜爱，比如汉服舞蹈就很美，用户粘-->
<!--                            性高。二、核心AI推荐算法，怎么把短视频，直播，美图-->
<!--                            美文，加百科的形式推送给用户，是我们的一大核心。三、-->
<!--                            政府支持，作为一个弘扬传统文化的平台，以实体店的方式-->
<!--                            延申到线下，以文物欣赏的形式存在，既能像古玩店，汉服-->
<!--                            店，文物展，又能以建筑的形式存在社会人民的视野中，给-->
<!--                            线上平台源源不断的带来流量，还能和政府合作得到国家文-->
<!--                            化部的支持，比如简单的捐赠公交亭，古风式的展现。-->
<!--                        </p>-->
<!--                        <p>-->
<!--                            盈利模式：有很多个点。租赁（汉服租赁），摄像馆民族风收-->
<!--                            费免费/专业人士辅助拍摄收费，抖音模式直播平台抽佣，电-->
<!--                            商模式平台抽佣，商家入驻费5000元，广告费，鸟笼效应，打-->
<!--                            造ip等等。-->
<!--                        </p>                           -->
                    </div>
<!--                    <div class="title3">-->
<!--                        <h2>项目附件</h2>-->
<!--                    </div>-->
<!--                    <div class="adjunct">-->
<!--                        <p>[ 商业计划书 ]</p>-->
<!--                    </div>-->
<!--                    <div class="download">-->
<!--                        <p>立即下载</p>-->
<!--                    </div>-->
                </div>
                <div class="layui-panel" id="panel4">
                    <div class="picture">
                        <img th:src="${user1.getPicWay()}" alt="图片加载错误">
                    </div>
                    <div class="name">
                        <p><span th:text="${user1.getRealName()}"></span><span>&#124;</span><span>创始人</span></p>
                    </div>
                    <div class="button">
                        <button type="button" class="layui-btn layui-btn-normal">和他联系</button>
                    </div>
                    <div class="phone">
                        <p>电话：<span th:text="${user1.getTel()}"></span></p>
                    </div>
                    <div class="email">
                        <p>email：<span th:text="${user1.getEmail()}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <!--页面底部-->
        <div id="footer">
            <div class="footer">
                <div class="footer-top">
                    <div class="footer-top-left">
                        <img src="image/11.jpg" alt="图片加载错误">
                        <p>
                            志同道合网是一个为了，族起她风今，越4伶报镰。 然酸问面明路最接数世真，
                            意务这成容才还同命，往维C极算须把如扮。 己需构参亲书争民存间明局号
                            ，如置族看华A把第雪低。我型才制很斯两。
                        </p>
                    </div>
                    <div class="footer-top-center">
                        <div>
                            <h6>新手指导</h6>
                            <ul>
                                <li><a href="">联系客服</a></li>
                                <li><a href="">入门指南</a></li>
                                <li><a href="">资料查询</a></li>
                                <li><a href="">关于我们</a></li>
                            </ul>
                        </div>
                        <div>
                            <h6>新手指导</h6>
                            <ul>
                                <li><a href="">联系客服</a></li>
                                <li><a href="">入门指南</a></li>
                                <li><a href="">资料查询</a></li>
                                <li><a href="">关于我们</a></li>
                            </ul>
                        </div>
                        <div>
                            <h6>新手指导</h6>
                            <ul>
                                <li><a href="">联系客服</a></li>
                                <li><a href="">入门指南</a></li>
                                <li><a href="">资料查询</a></li>
                                <li><a href="">关于我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-top-right">
                        <img src="image/12.jpg" alt="图片加载错误">
                        <div>微信咨询</div>
                    </div>
                </div>
                <div class="footer-bottom">
                    地址：福建省莆田市莆田学院 &nbsp 邮编：351100 &nbsp 电话：
                    400-400-4000 &nbsp 传真：010-8500000 &nbsp 邮箱: ptu.cn
                </div>
            </div>
        </div>
</body>
</html>