body{
	margin: 0;
	padding: 0;
/* 	background-image: url(../../../../../../Hbuider/网页项目/tup/tp0.jpg); */
/* 	E:\安装包\Hbuider\网页项目\tup */
	background-image: url(../img/tp0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#bigBox{
	margin: 0 auto;
	margin-top: 200px;
	padding: 20px 50px;
	background-color: #00000090;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
}
#bigBox h1{
	color: #ffffff;
}
#bigBox .inputBox{
	margin-top: 50px ;
}
#bigBox .inputBox .inputText
{
	margin-top: 20px;
}
#bigBox .inputText .inputText span
{
	margin-right: auto;
	color: white;
}
#bigBox .inputBox .inputText input{
	border: 0;
	padding: 10px 10px;
	border-bottom: 1px solid white;
	background-color:  #00000000;
	color: white;
}
#bigBox .inputBox .inputButton
{
	border: 0;
	width: 65px;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	margin-top: 30px;
	border-radius: 20px;
	background-image: linear-gradient(#a6c0fe 0%, #f68084 100%);
}
